//================================================================
//                              Layout
//================================================================

.layout-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.a {
  fill: #fff !important;
}
.side-nav {
  width: 251px;
  background-color: #186bb1;
  text-align: center;
  position: fixed;
  z-index: 2;
  height: 100vh;
  // logo
  .logo {
    height: 179px;
    background-color: #ffffff;
    img {
      width: 80px;
      margin-top: 60px;
    }
  }
  .inside-active {
    width: 206px;
    height: 31px;
    background: #1767aa 0% 0% no-repeat padding-box;
    border-radius: 8px 0px 0px 8px;
    padding: 6px 59px 6px 25px;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #ffffff !important;
  }
  .inside-active a {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
  }

  // nav links
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 25px !important;
    margin-top: 37px;

    li {
      font-size: 16px;
      padding: 14px 16px !important;
      border-radius: 8px 0px 0px 8px;
      color: white;
      cursor: pointer;
      height: 47px;
      margin-bottom: 10px !important;

      svg {
        margin-right: 14px;
        margin-bottom: 2px;
      }

      img {
        margin-right: 14px;
        margin-bottom: 5px;
      }
    }
    .li-active {
      background-color: #ffffff;
      color: #1768ac !important;
      font-weight: 500;
      svg {
        path {
          fill: #186bb1 !important;
        }
      }
    }
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px 24px 37px;
  background-color: white;
  position: fixed;
  width: calc(100% - 241px);
  top: 0;
  right: 0;
  z-index: 1;

  .username {
    margin: 0 10px 0 7px;
  }

  .dropdown-trigger {
    height: max-content;
  }

  .onnline-dot {
    height: 6px;

    width: 6px;
    top: 4px !important;
    left: -7px !important;

    position: absolute;

    border-radius: 10px;

    background: #29c452;
  }

  .notification-dot {
    height: 10px;

    width: 10px;
    top: 6px !important;
    left: 10px !important;

    position: absolute;

    border-radius: 10px;

    background: #1768ac;

    padding: 0px 2px 2px 3px;
  }

  .notification-box {
    left: -107px;
    top: 35px;
    width: 217px;
    height: 284px;
    background: #fafdff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #d9d9d9;
    position: absolute;
  }

  .notification-box .notification-header {
    width: 217px;
    height: 47px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #d9d9d9;
    opacity: 1;
    padding: 15px 15px 12px 15px;
  }

  .tx-1 {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: #22241f;
    margin-bottom: 0px;
  }
}

.ant-collapse-borderless > .ant-collapse-item {
  border: 0 !important;
}
